<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All of our Villains</title>
</head>
<body>
  <h1>All the Villains!</h1>
  <% for (const villain of villains) { %>
    <h2>Villain: <%= villain.villain %> from <%= villain.movie %></h2>
  <% } %>
</body>
</html>
